.footerform{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:#d300f90a;
    padding: 60px 0;
}
.footerform h2{
    font-size: 35px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.2px;
    line-height: 40px;
}
.footerform span{
    display: inline;
    color: #81104efc;
}
.footerform .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.footerform .officeBox{
    position: relative;
    padding: 0 5px;
}
.footerform .officeBox h5{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 0;
    margin-top: 80px;
}
.footerform .officeBox p{
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    padding: 0 3px;
}
.footerform .office{
    position: absolute;
    background: rgba(0,0,0,.47);
    width: 95%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
.footerform input{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #231f20;
    margin: 0 0 40px;
    background: 0 0;
    border-radius: 0;
    font-weight: 400;
}
.footerform h5{
    font-size: 35px;
    line-height: 40px;
    font-weight: 700;
}
