.home_btn{
    border-radius: 0;
    width: 100%;
    position: relative;
    border-color: #81104efc;
    height: 100%;
    font-size: 16px;
    letter-spacing: .3em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}