@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.slick-prev:before, .slick-next:before{
  color: #81104efc !important;
}
.homeCard{
  /* width: 100%;
  height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: .5s;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.161);
  border-radius: 10px;
  padding: 30px 25px;
  z-index: 1;
}
.homeCard h1{
  padding: 0 0 10px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.homeCard p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
